@font-face {
  font-family: "Circular Std";
  src:
    local("Circular Std Medium"),
    local("Circular-Std-Medium"),
    url("assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("assets/fonts/CircularStd-Medium.woff") format("woff"),
    url("assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --navigation-height: 50px;
  font-family:
    Circular Std,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
}

.app {
  height: 100vh;
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
